:root,
:host {
	--color-blue: #1453b8;
	--color-orange: #f8972b;
	--color-black: #1d1d1d;
	--color-light-gray: #f8f8f8;
	--color-gray: #dadada;
	--color-yellow: #ffffcc;
	--color-white: #ffffff;

	--font-size: 12px;
	--font-family: Arial, Helvetica, sans-serif;

	--spatial-system: 4px;

	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--color-black);
	margin: var(--spatial-system);
	padding: var(--spatial-system);
}

:host * {
	font-size: var(--font-size);
	font-family: var(--font-family);
}

.primary {
	color: var(--color-blue);
}

.secondary {
	color: var(--color-orange);
}
